.container {
  width: 90%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  background-color: rgb(151, 183, 241);
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
}
.side {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  height:100%;
}
form {
  max-width: 100%;
}
input,
textarea {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"] {
  background-color: rgb(41, 40, 40);
  color: rgb(224, 223, 223);
}

.alert {
  color: red;
  font-weight: bold;
}
h2 {
  margin: 5px 0 0 0;
}
p {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 0;
}
